<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pb-2">학생 등록</h5>
    <form th:action="@{/table/create}" method="post">

            <table>
                <thead>
                <tr>
                    <th>학번</th>
                    <th>Email</th>
                    <th>국어점수</th>
                    <th>영어점수</th>
                    <th>수학점수</th>
                    <th>역사점수</th>
                    <th>과학점수</th>
                    <th>총점</th>
                    <th>담임코드</th>
                    <th>성취도코드</th>
                    <th>지역코드</th>
                </tr>
                </thead>
                <tbody>
            <tr>
                <td><input type="text" name="StdNo" id="StdNo" class="form-control" ></td>
                <td><input type="text" name="email" id="email" class="form-control"></td>
                <td><input type="text" name="kor" id="kor" class="form-control"></td>
                <td><input type="text" name="eng" id="eng" class="form-control"></td>
                <td><input type="text" name="math" id="math" class="form-control"></td>
                <td><input type="text" name="hist" id="hist" class="form-control"></td>
                <td><input type="text" name="sci" id="sci" class="form-control"></td>
                <td><input type="text" name="total" id="total" class="form-control"></td>
                <td><input type="text" name="mgrCode" id="mgrCode" class="form-control"></td>
                <td><input type="text" name="accCode" id="accCode" class="form-control"></td>
                <td><input type="text" name="locCode" id="locCode" class="form-control"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">등록</button>
                </td>
            </tr>
                </tbody>
            </table>

    </form>
</div>
</html>